:root {
  --blue--: rgb(59, 59, 223);
  --black--: rgb(33, 32, 32);
  --white--: rgb(246, 242, 242);
  --green--: rgb(125, 216, 125);
  --grey--: rgb(149, 149, 149);
}

.signUp-nav__title {
  margin-top: 72px;
  text-align: center;
  color: var(--blue--);
  font-size: 48px;
}

.signUp main {
  display: flex;
  justify-content: center;
}

.signUp-main h3 {
  text-align: center;
  font-size: 24px;
}

.signUp-main__form {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--black--);
  border-radius: 8px;
  padding: 24px 36px;
}

.signUp-main__form input {
  padding: 8px 12px;
  margin: 12px 0px;
  font-size: 14px;
}

.signUp-main__form button {
  padding: 8px 12px;
  margin: 12px 0px;
  font-size: 18px;
  background-color: var(--green--);
  border-radius: 8px;
}

.hidden {
  display: none;
}

#hidden {
  display: none;
}
