.signIn-nav__title {
  margin-top: 72px;
  text-align: center;
  font-size: 48px;
  color: var(--blue--);
}

.signIn main {
  display: flex;
  justify-content: center;
}

.signIn-section {
  width: 24em;
  height: 40vh;
  margin: 0px 20%;
  padding: 8px 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid var(--black--);
  border-radius: 8px;
}

.signIn-section__title {
  font-size: 24px;
}

.signIn-section__form {
  display: flex;
  flex-direction: column;
}

.signIn-section__form * {
  margin: 5% 0%;
  padding: 8px 24px;
  font-size: 18px;
}

.signIn-section__form__signIn-button {
  background-color: var(--blue--);
  border-radius: 8px;
  color: var(--white--);
}

.signIn-section__error-message {
  color: var(--red--);
}

.signIn-section__division-line {
  font-size: 12px;
  color: var(--grey--);
}

.signIn-section__signUp-button {
  width: 12rem;
  height: 12%;
  margin: 12px;
  font-size: 18px;
  background-color: var(--green--);
  border-radius: 8px;
  color: var(--white--);
}
