.transfer-nav {
  margin: 24px 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.transfer-nav__logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.transfer-nav__logo * {
  font-size: 24px;
  color: var(--blue--);
}

.transfer-nav__logo-title {
  margin-right: 24px;
  text-align: center;
}

.transfer-nav__user {
  display: flex;
  align-items: center;
} 

.transfer-nav__user * {
  margin: 0px 4px;
  padding: 4px 12px;
  font-size: 18px;
} 

.transfer-nav__user-menuButton {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--white--);
  border: none;
}

.transfer-nav__user-menuButton i {
  font-size: 24px;
}

.transfer-nav__user-menuButton:active {
  transform: translateY(4px);
  transition-duration: 0.3s;
}

.transfer-nav__user-menuButton:hover {
  cursor: pointer;
}

.trasnfer main {
  display: flex;
  justify-content: center;
}

.transfer main {
  display: flex;
  justify-content: center;
}

.transfer-section {
  margin-top: 48px;
  padding: 24px 0px;
  width: 24rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid var(--black--);
  border-radius: 8px;
}

.transfer-section__title {
  font-size: 30px;
}

.transfer-section__form {
  display: flex;
  flex-direction: column;
}

.transfer-section__form * {
  padding: 12px 12px;
  font-size: 18px;
}

.transfer-section__form__balance {
  margin-bottom: 10%;
  border: 1px solid var(--black--);
}

.transfer-section__form input {
  margin: 5% 0%;
}

.transfer-section__form__button {
  margin-top: 12px;
  padding: 8px 12px;
  background-color: var(--green--);
  border-radius: 8px;
  font-size: 18px;
  color: var(--white--);
}

.transfer-aside__menus {
  position: relative;
  bottom: 560px;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.transfer-aside__menus button {
  margin: 12px 48px;
  padding: 8px 12px;
  background-color: var(--white--);
  border-radius: 8px;
  font-size: 18px;
}

.transfer__modal-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--white--);
}

.transfer__modal {
  padding: 8px 12px;
  width: 400px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--indigo--);
  border-radius: 12px;
  
}

.transfer__modal__question {
  margin: 24px;
  font-size: 24px;
  color: var(--white--);
}

.trasnfer__modal__buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.trasnfer__modal__buttons button {
  margin: 8px;
  padding: 8px 30px;
}

@media screen and (max-width:572px) {
  .transfer-nav {
    margin: 24px 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .transfer-aside__menus {
    display: flex;
    flex-direction: row;
  }

  .transfer-aside__menus button {
    margin: 8px 12px;
    padding: 4px 12px;
  }
}

@media screen and (max-width:812px) {
  .transfer-aside__menus {
    position: relative;
    top: -600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .transfer-aside__menus button {
    margin: 8px 12px;
    padding: 4px 12px;
  }
}
